[[source]]
url = "http://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
aiohttp = "*"
aiohttp-socks = "*"
flask = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "*"
